* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.color__btns {
  width: 50%;
  margin: auto;
  height: auto;
  position: absolute;
  top: 10rem;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .color__btns {
    top: 15%;
    left: 0.5rem;
    width: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.color__btns button {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  outline: none;
  border: none;
  margin-bottom: 3.5rem;
}

.color__btns button:nth-of-type(1) {
  background: radial-gradient(circle, white 10%, red 69%);
  -webkit-box-shadow: 0px 0px 24px 5px red;
  box-shadow: 0px 0px 24px 5px red;
}

.color__btns button:nth-of-type(2) {
  background: radial-gradient(circle, white 10%, blue 69%);
  -webkit-box-shadow: 0px 0px 24px 5px blue;
  box-shadow: 0px 0px 24px 5px blue;
}

.color__btns button:nth-of-type(3) {
  background: radial-gradient(circle, white 10%, green 69%);
  -webkit-box-shadow: 0px 0px 24px 5px green;
  box-shadow: 0px 0px 24px 5px green;
}

.color__btns button:nth-of-type(4) {
  background: radial-gradient(circle, white 10%, purple 69%);
  -webkit-box-shadow: 0px 0px 24px 5px purple;
  box-shadow: 0px 0px 24px 5px purple;
}

.color__btns button:nth-of-type(5) {
  background: radial-gradient(circle, white 10%, cyan 69%);
  -webkit-box-shadow: 0px 0px 24px 5px cyan;
  box-shadow: 0px 0px 24px 5px cyan;
}

.color__btns button:nth-of-type(6) {
  background: radial-gradient(circle, white 10%, gold 69%);
  -webkit-box-shadow: 0px 0px 24px 5px gold;
  box-shadow: 0px 0px 24px 5px gold;
}

.color__btns button:nth-of-type(7) {
  background: radial-gradient(circle, white 10%, white 69%);
  -webkit-box-shadow: 0px 0px 24px 5px white;
  box-shadow: 0px 0px 24px 5px white;
}

.lightsaber {
  width: 85%;
  position: relative;
  z-index: 5;
}

@media (max-width: 750px) {
  .lightsaber {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 150%;
    margin-bottom: 5rem;
  }
}

.lightsaber img {
  width: 25%;
  z-index: 5;
  position: relative;
}

.lightsaber::before {
  content: '';
  position: absolute;
  width: 0;
  height: 26%;
  background: var(--blade-color);
  z-index: 10;
  top: 41%;
  left: 22%;
  z-index: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.lightsaber::after {
  content: '';
  position: absolute;
  width: 0;
  height: 13%;
  background: white;
  z-index: 1;
  top: 47%;
  left: 22%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.saber__ignite::before {
  width: 75%;
  -webkit-animation: redGlow 1s infinite;
  animation: redGlow 1s infinite;
}

.saber__ignite::after {
  width: 74%;
  -webkit-animation: whiteGlow 1s infinite;
  animation: whiteGlow 1s infinite;
}

.btn__ignite {
  position: absolute;
  bottom: 10%;
  border: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: radial-gradient(circle, white 0%, red 69%);
  border: 0.8rem solid #c2c2c2;
}

@media (max-width: 750px) {
  .btn__ignite {
    font-size: 1.5rem;
    bottom: 2%;
  }
}

@-webkit-keyframes redGlow {
  0% {
    -webkit-box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 8px var(--blade-color);
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 8px var(--blade-color);
  }
  50% {
    -webkit-box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 55px 14px var(--blade-color);
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 55px 14px var(--blade-color);
  }
  100% {
    -webkit-box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 7px var(--blade-color);
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 7px var(--blade-color);
  }
}

@keyframes redGlow {
  0% {
    -webkit-box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 8px var(--blade-color);
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 8px var(--blade-color);
  }
  50% {
    -webkit-box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 55px 14px var(--blade-color);
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 55px 14px var(--blade-color);
  }
  100% {
    -webkit-box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 7px var(--blade-color);
    box-shadow: 0px 10px 13px -7px var(--blade-color),
      15px 0px 30px 7px var(--blade-color);
  }
}

@-webkit-keyframes whiteGlow {
  0% {
    -webkit-box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
    box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    -webkit-box-shadow: 4px 0px 8px 4px rgba(255, 255, 255, 0.8);
    box-shadow: 4px 0px 8px 4px rgba(255, 255, 255, 0.8);
  }
  100% {
    -webkit-box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
    box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
  }
}

@keyframes whiteGlow {
  0% {
    -webkit-box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
    box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    -webkit-box-shadow: 4px 0px 8px 4px rgba(255, 255, 255, 0.8);
    box-shadow: 4px 0px 8px 4px rgba(255, 255, 255, 0.8);
  }
  100% {
    -webkit-box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
    box-shadow: 4px 0px 6px 2px rgba(255, 255, 255, 0.8);
  }
}
/*# sourceMappingURL=style.css.map */
